@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

/* handle navbar */
main {
  margin-top: 1rem;
}

/* handle navbar */
#faq {
  scroll-margin-top: 5rem;
}

.toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  animation: progress 5s linear;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.htmx-indicator {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 700ms ease-in,
    visibility 700ms ease-in;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.htmx-indicator-target {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition:
    opacity 700ms ease-in,
    visibility 700ms ease-in;
}

.htmx-request .htmx-indicator-target,
.htmx-request.htmx-indicator-target {
  display: none;
  visibility: hidden;
  opacity: 0;
}
