@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.htmx-indicator {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 700ms ease-in,
    visibility 700ms ease-in;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.htmx-indicator-target {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition:
    opacity 700ms ease-in,
    visibility 700ms ease-in;
}

.htmx-request .htmx-indicator-target,
.htmx-request.htmx-indicator-target {
  display: none;
  visibility: hidden;
  opacity: 0;
}
