@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
  /* opacity: 0; */
  display: none;
  transition: display 500ms ease-in;
}
.htmx-request .htmx-indicator {
  /* opacity: 1; */
  display: inline;
}
.htmx-request.htmx-indicator {
  /* opacity: 1; */
  display: inline;
}

.htmx-indicator-target {
  /* opacity: 1; */
  transition: display 500ms ease-in;
  display: inline;
}
.htmx-request .htmx-indicator-target {
  /* opacity: 0; */
  display: none;
}
.htmx-request.htmx-indicator-target {
  /* opacity: 0; */
  display: none;
}
